{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "globals": {
    "document": true,
    "navigator": true,
    "window": true
  },
  "parser": "babel-eslint",
}
